<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jeffnippard">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/nippard_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/nippard_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JeffNippard">
        <activity
            android:name=".view.viewDayActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.train.amrapDayActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.train.amrapWeekActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".view.train.dayActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.train.week1Activity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.ProgramViewActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.ViewSessionsActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.CalculatorActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.Program"
            android:exported="false"
            android:theme="@style/Theme.JeffNippard.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>